.Countries {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
  margin: 0 -40px;

  > * {
    flex: 1 0 calc(25% - 80px);
    min-width: 200px;
    margin: 40px;
    content-visibility: auto;
  }
}
