.HomePage {
}
.HomePage__ActionBar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px 0;
}

@media screen and (max-width: 700px) {
  .HomePage__ActionBar {
    flex-direction: column;
  }
  .HomePage__ActionBar > :first-child {
    width: 100%;
    margin-bottom: 40px;
  }
}
